/*calendar*/
#Sdate {
	display: inline-block;
	height:35px;
}

#Edate {
	display: inline-block;	
	height:35px;
}

.hide-replaced.ws-inputreplace {
    display: none !important;
}
.input-picker .picker-list td > button.othermonth {
    color: #888888;
    background: #fff;
}
.ws-inline-picker.ws-size-2, .ws-inline-picker.ws-size-4 {
    width: 49.6154em;
}
.ws-size-4 .ws-index-0, .ws-size-4 .ws-index-1 {
    border-bottom: 0.07692em solid #eee;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
}
.picker-list.ws-index-2, .picker-list.ws-index-3 {
    margin-top: 3.5em;
}
div.ws-invalid input {
    border-color: #c88;
}
.ws-invalid label {
    color: #933;
}
div.ws-success input {
    border-color: #8c8;
}
form {
    margin: 10px auto;
    width: 700px;
    min-width: 49.6154em;
    border: 1px solid #000;
    padding: 10px;
}
.form-row {
    padding: 5px 10px;
    margin: 5px 0;
}
label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    width: 220px;
    padding: 3px 1px;
    border: 1px solid #ccc;
    box-shadow: none;
}
.form-row input[type="checkbox"] {
    width: 15px;
}
.date-display {
    display: inline-block;
    min-width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    min-height: 1em;
}
.show-inputbtns .input-buttons {
    display: inline-block;
}




.DI {
	display:inline;
}

.DIhide {
	display: inline;
	visibility:hidden;
}

.bg {
    background-color:#a0a0a0;
}

a.no-uline:hover {
	text-decoration:underline;
	cursor:pointer;
}

#cs_content {
	width:500px;	
	word-break: break-word;	
}

#CSbutton {
	
}

.MoreStyle {
	margin-left: 45%;
	margin-top: -20px;
	width: 100px;
    height: auto;
    background: #e8e8e8;
    text-align: center;
    border-style: dotted;
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 5px 5px;
    visibility: hidden;
}

#ErrorDisplayInner {
	background-color:#E48989;
	width:568px;
	padding:10px 10px 10px 10px;
}

.CsListTable { 
	display: inline-block;
	float: left;
	margin-left: 30px;
}

.CancellTable { 
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.CsBackBtn {
	margin : 10px 10px 10px 30px;
}

#CancelStateSaveBtn {
	float: right;
	margin : 0px 80px 10px 10px;
}

#StateSelector {
	float: right;
	width:200px;
	height:35px;	
}

#StateSelectorTop {
	float: right;
	width:105px;
	height:35px;
}

#search_cancel_text {
	width:43%;
	display: inline-block;
}

#search_cancel_type {
	width:30%;
	display: inline-block;
}

.cancel_chk_class {
	display: inline-block;
}

.table_middle {
	vertical-align: middle!important;
}